* {
     box-sizing: border-box 
}
 html, body {
     font-family: "Quattrocento";
     width: 100%;
     color: #586E75;
     background: #fdf6e3;
     overflow: hidden;
     margin: 0px;
     transition: all 0.5s ease-in;
}
 body.dark {
     background: #333;
     color: #fdf6e3;
     transition: all 0.5s ease-in;
}
 button {
     font-family: "Quattrocento";
     font-size: 16px;
}
 .selector-widget {
     position: absolute;
     display: flex;
     align-items: baseline;
     bottom: 40px;
     left: 40px;
     max-width: 40%;
     font-weight: normal;
     font-size: 2.5em;
     transition: opacity 1.2s ease-in, left 1.2s ease-in, bottom 1.2s ease-in;
     z-index: 10;
}

 .darkmode-widget{
     position: absolute;
     display: flex;
     align-items: baseline;
     bottom: 40px;
     right: 40px;
     max-width: 40%;
     font-weight: normal;
     font-size: 2em;
     transition: opacity 1.2s ease-in, left 1.2s ease-in, bottom 1.2s ease-in;
     z-index: 10;
     width: 2em;
     margin: 0px auto;
     left: 0px;
     right: 0px;
     height: 1.6em;
     z-index: 3;
}

 .content {
     padding-top: 3%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     height: 90%;
}
 .copyright{
     position: absolute;
     text-align: right;
     bottom: 40px;
     right: 40px;
     max-width: 40%;
}
 .copyright p{
     margin: 2px;
}
 .glider::-webkit-scrollbar {
     opacity: 0;
}
 .glider-contain {
     max-width: 90%;
     margin: 0 auto;
     aspect-ratio: 16/9;
     max-height: 90vh;
}
 .glider-track {
     height: 100%;
}
 .glider-slide {
     padding-left: 7px;
     padding-right: 7px;
}
 .glider-slide h3 {
     width: 100%;
     text-align: center;
     font-weight: normal;
     margin-top: 0.3em;
     font-size: 1.5em;
}
 .glider-slide img {
     object-fit: contain;
     width: 100%;
     opacity: 0;
     transition: opacity 1s ease;
}
 .glider-slide img.loaded {
     opacity: 1;
}
 .glider-prev {
     top: 40%;
     left: -40px;
     padding-right: 10px;
}
 .glider-next {
     top: 40%;
     right: -40px;
     padding-left: 10px;
}

 .glider-persp .glider-slide {
     min-width: 0px;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     transform-style: preserve-3d;
     will-change: transform;
     transform: perspective(1500px) rotateY(0deg) scale(1) translateZ(0);
     transform-origin: 0 0;
     transition: transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
}
 .glider-persp .glider-slide.right-2 {
     opacity: 0.1;
     -webkit-transform: perspective(1500px) rotateY(-89deg) scale(0.6);
     -webkit-transform-origin: 100% 50% 0;
     transform: perspective(1500px) rotateY(-89deg) scale(0.6);
     transform-origin: center;
     transition: opacity 1.2s ease-in-out;
     z-index: 1;
}
 .glider-persp .glider-slide.left-2 {
     opacity: 0.1;
     -webkit-transform: perspective(1500px) rotateY(89deg) scale(0.6) translateY(20%) translateX(-90%);
     -webkit-transform-origin: 100% 50% 0;
     transform: perspective(1500px) rotateY(89deg) scale(0.6) translateY(20%) translateX(-90%);
     transform-origin: center;
     transition: opacity 1.2s ease-in-out;
     z-index: 1;
}
 .glider-persp .glider-slide.left-1 {
     opacity: 0.25;
     -webkit-transform: perspective(1500px) rotateY(70deg) scale(0.7) translateY(20%) translateX(-90%);
     -webkit-transform-origin: 100% 50% 0;
     transform: perspective(1500px) rotateY(70deg) scale(0.7) translateY(20%) translateX(-90%);
     transform-origin: center;
     transition: opacity 1.2s ease-in-out, transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
     z-index: 2;
}
 .glider-persp .glider-slide.right-1 {
     opacity: 0.25;
     -webkit-transform: perspective(1500px) rotateY(-70deg) scale(0.7) translateY(20%) translateX(90%);
     -webkit-transform-origin: 0 50% 0;
     transform: perspective(1500px) rotateY(-70deg) scale(0.7) translateY(20%) translateX(90%);
     transform-origin: center;
     transition: opacity 1.2s ease-in-out, transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
     z-index: 2;
}
 .glider-persp .glider-slide.left-1 img,
 .glider-persp .glider-slide.right-1 img {
     filter: blur(2px);
}
 .glider-persp .glider-slide.center {
     opacity: 1;
     -webkit-transform: perspective(1500px) scale(1.0) translateZ(0);
     -webkit-transform-origin: center;
     transform: perspective(1500px) scale(1.0) translateZ(0);
     transform-origin: center;
     transition: opacity 1.2s ease-in-out, transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
     z-index: 3;
}
 .glider-persp .glider-slide.center img {
     width: 220%;
     max-width: 220%;
     height: auto;
     max-height: 90%;
     transition: max-width 0.5s ease-in, opacity 1.2s ease-in, transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
     -webkit-transform: translateY(0) translateX(-27.27%);
     -webkit-transform-origin: center;
     transform: translateY(0) translateX(-27.27%);
     transform-origin: center;
     filter: brightness(1.1);
}
 body.dark .glider-persp .glider-slide.center img {
     filter: brightness(0.9);
}
 .selector-label {
    margin-top: auto;
}
 .selector {
     padding-bottom: 0.1em;
 }

 .screen {
     width: 100vw;
     height: 100vh;
     position: absolute;
     top: 0px;
     left: 0px;
     background-color: rgba(255, 255, 255, 0.0);
     z-index: -1;
 }
 .screen.active {
     background-color: rgba(255, 255, 255, 0.85);
     z-index: 5;
}

 .selector .selector-item {
    transform: translateY(100%);
    opacity: 0;
    height: 0px;
    margin: 0px;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out, height 0s 0.5s ease-out, color 0.5s ease-out;
    width: fit-content;
}
.selector.open .selector-item:not(.active) {
    margin-bottom: 20px;
}
 
.selector:not(.open) .selector-item.active {
    display: inherit;
    cursor: pointer;
    transform: translateY(0px);
    opacity: 1;
    height: 1em;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
 .selector:not(.open) .selector-item.active {
    color: #cb4b16;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out, height 0s 0.5s ease-out, color 0.5s ease-out;
}

 .selector.open .selector-item {
    display: inherit;
    cursor: pointer;
    transform: translateY(0px);
    opacity: 1;
    height: 1em;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

 .selector .selector-item::after {
	content: '';
	position: absolute;
	top: 1.05em;
	left: 0;
	width: 100%;
	height: 0.1em;
    background-color: #586E75;
	opacity 1;
	transform: scale(0);
	transform-origin: center;
    transition: transform 0.5s ease-out;
}
 .selector:not(.open) .selector-item.active::after {
     background-color: #cb4b16;
     transition: transform 0.5s ease-out, background-color 0.5s ease-out;
 }

 .selector:not(.open) .selector-item.active::after,
 .selector .selector-item:hover::after,
 .selector .selector-item:focus::after {
	transform: scale(1);
    transition: transform 0.5s ease-out;
}

 .darkmode-widget div {
     padding-right: 10px;
     cursor: pointer;
 }

/* body.dark .lightmode i::after {
	content: '';
	position: absolute;
    bottom: 0px;
	left: 0;
	width: 50%;
	height: 0.1em;
	background-color: #444444;
    transform: scale(0);
	transform-origin: center;
    transition: transform 0.5s ease-out;
} */

 body:not(.dark) .lightmode {
    color: #cb4b16;
    transition: color 0.5s ease-out;
}

/*
 body:not(.dark) .lightmode i::after {
	content: '';
	position: absolute;
    bottom: 0px;
	left: 0;
	width: 50%;
	height: 0.1em;
    background-color: #cb4b16;
	transform: scale(1);
	transform-origin: center;
    transition: transform 0.5s ease-out, background-color 0.5s ease-out;
}

 body:not(.dark) .darkmode i::after {
	content: '';
	position: absolute;
    bottom: 0px;
	left: 55%;
	width: 50%;
	height: 0.1em;
    background-color: #fdf6e3;
    transform: scale(0);
	transform-origin: center;
    transition: transform 0.5s ease-out;
}

*/
 body.dark .darkmode {
	color: #f7976e;
    transition: color 0.5s ease-out;
}
/*
 body.dark .darkmode i::after {
	content: '';
	position: absolute;
    bottom: 0px;
	left: 55%;
	width: 50%;
	height: 0.1em;
    background-color: #f7976e;
	transform: scale(1);
	transform-origin: center;
    transition: transform 0.5s ease-out, background-color 0.5s ease-out;
}
*/
 body.dark .glider-prev, body.dark .glider-next {
    color: #fdf6e3;
}
 
 body.dark .selector .selector-item::after {
	background-color: #fdf6e3;
}
 
 body.dark .selector:not(.open) .selector-item.active {
	color: #f7976e;
}
 
 body.dark .selector:not(.open) .selector-item.active::after {
	background-color: #f7976e;
    transition: transform 0.5s ease-out, background-color 0.5s ease-out;
}

 body.dark .screen.active {
     background-color: rgba(10, 10, 10, 0.85);
     z-index: 5;
}

@media (max-width: 500px) and (orientation: portrait) {
     .selector-widget {
         position: absolute;
         bottom: 20px;
         left: 20px;
         font-weight: normal;
         font-size: 1em;
         opacity: 1;
         transition: opacity 1.2s ease-in, left 1.2s ease-in;
    }
     .darkmode-widget {
         position: absolute;
         top: 20px;
         font-weight: normal;
         font-size: 2em;
         opacity: 1;
         transition: opacity 1.2s ease-in, left 1.2s ease-in;
         margin: 0px auto;
         left: 0px;
         right: 0px;
         width: 2.1em;
    }
    /*
     body.dark .darkmode i::after {
         left: 50%;
    }
    */
     .copyright{
         position: absolute;
         text-align: right;
         bottom: 10px;
         right: 10px;
         max-width: 33%;
    }
     .copyright p{
         margin: 2px;
         font-size: 0.8em;
    }
     .glider-contain {
         width: 95%;
         max-width: None;
    }
     .glider-prev {
         display: None;
    }
     .glider-next {
         display: None;
    }
     .content {
         padding-left: 5px;
         padding-right: 5px;
         height: 100vh;
    }
     .glider-slide h3 {
         width: 100%;
         text-align: center;
         font-size: 1em;
         font-weight: normal;
    }
     .glider-persp .glider-slide.left-1 {
         opacity: 0.25;
         -webkit-transform: perspective(1500px) rotateY(70deg) scale(0.7) translateY(20%) translateX(-100%);
         -webkit-transform-origin: 100% 50% 0;
         transform: perspective(1500px) rotateY(70deg) scale(0.7) translateY(20%) translateX(-100%);
         transform-origin: center;
         transition: opacity 1.2s ease-in-out, transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
         z-index: 2;
    }
     .glider-persp .glider-slide.right-1 {
         opacity: 0.25;
         -webkit-transform: perspective(1500px) rotateY(-70deg) scale(0.7) translateY(20%) translateX(100%);
         -webkit-transform-origin: 0 50% 0;
         transform: perspective(1500px) rotateY(-70deg) scale(0.7) translateY(20%) translateX(100%);
         transform-origin: center;
         transition: opacity 1.2s ease-in-out, transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
         z-index: 2;
    }
     .glider-persp .glider-slide.center {
         opacity: 1;
         -webkit-transform: perspective(1500px) scale(1.0) translateZ(0);
         -webkit-transform-origin: center;
         transform: perspective(1500px) scale(1.0) translateZ(0);
         transform-origin: center;
         transition: opacity 1.2s ease-in-out, transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
         z-index: 3;
    }
     .glider-persp .glider-slide.center img {
         width: 265%;
         max-width: 265%;
         height: auto;
         max-height: 200%;
         transition: max-width 0.5s ease-in, opacity 1.2s ease-in, transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
         -webkit-transform: translateY(0) translateX(-31.132%);
         -webkit-transform-origin: center;
         transform: translateY(0) translateX(-31.132%);
         transform-origin: center;
    }
}

@media (max-width: 900px) and (orientation: landscape) {
     .selector-widget {
         position: absolute;
         bottom: 10px;
         left: 10px;
         font-weight: normal;
         font-size: 1.6em;
         opacity: 1;
         transition: opacity 1.2s ease-in, left 1.2s ease-in, bottom 1.2s ease-in;
    }
     .darkmode-widget {
         position: absolute;
         top: 20px;
         right: 30px;
         left: initial;
         font-weight: normal;
         font-size: 1.5em;
         width: 2.2em;
         opacity: 1;
         transition: opacity 1.2s ease-in, left 1.2s ease-in, bottom 1.2s ease-in;
    }
    /*
     body.dark .darkmode i::after {
         left: 50%;
    }
    */
     .copyright{
         position: absolute;
         text-align: right;
         bottom: 10px;
         right: 10px;
         max-width: 25%;
    }
     .copyright p{
         margin: 2px;
         font-size: 0.5em;
    }
     .glider-prev {
         left: -40px;
         padding-right: 10px;
         font-size: 1.5em;
    }
     .glider-next {
         right: -40px;
         padding-left: 10px;
         font-size: 1.5em;
    }
     .glider-slide h3 {
         font-size: 1em;
    }
     .content {
         padding-top: 30px;
         padding-left: 5px;
         padding-right: 5px;
         height: 90%;
    }

     .glider-persp .glider-slide.center img {
         width: 200%;
         max-width: 200%;
         height: auto;
         max-height: 85%;
         transition: max-width 0.5s ease-in, opacity 1.2s ease-in, transform 1.5s cubic-bezier(0.23, 1, 0.32, 1);
         -webkit-transform: translateY(0) translateX(-25%);
         -webkit-transform-origin: center;
         transform: translateY(0) translateX(-25%);
         transform-origin: center;
    }
}

@media (min-width: 1500px) and (orientation: landscape) {
     .selector-widget {
         position: absolute;
         font-size: 2.2em;
         bottom: 5%;
         left: 15%;
         font-weight: normal;
         opacity: 1;
         transition: opacity 1.2s ease-in, left 1.2s ease-in, bottom 1.2s ease-in;
    }
     .darkmode-widget {
         position: absolute;
         font-size: 2.5em;
         font-weight: normal;
         opacity: 1;
         transition: opacity 1.2s ease-in, left 1.2s ease-in, bottom 1.2s ease-in;
         margin: 0px auto;
         left: 0px;
         right: 0px;
    }
    /*
     body.dark .darkmode i::after {
         left: 50%;
    }
    */
     .copyright{
         right: 15%;
         bottom: 5%;
    }
}
